body {
    margin: 0px;
    font-family: Roboto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    margin: 0px;
    padding: 0px 150px;
}

.logotext {
    font-size: 24px;
    color: #f9faf8;
}

.links > a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 10px;
}

.herocontainer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 100px;
    background-color: #1f2937;
}

.herotext {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.heromain {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.herosecondary {
    font-size: 18px;
    color: #e5e7eb;
}

.herobutton {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #3882f6;
    box-shadow: none;
    width: 150px;
    padding: 5px;
}

.imghero {
    display: flex;
    max-width: 500px;
    padding: 50px;
}

.randominfocontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 200px; */
    margin: 10px 200px 50px 200px;
}

.imagesandsubtextcontainer {
    display: flex;
    justify-content: start;
}

.imageandsubtext {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 25px;
}

.subtext {
    text-align: center;
}

.randomimg {
    border: 5px solid #3882f6;
    border-radius: 20px;
}
.randominfotext {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quotecontainer {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding-bottom: 50px;
}

.quotetext {
    color: #1f2937;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
    margin: 0px;
    padding: 50px 300px;
}

.signed {
    font-weight: bolder;
    font-size: 22px;
    margin: 0px;
    padding: 0px 300px 0px;
    text-align: right;
}

.callsectioncontainer {
    display: flex;
    background-color: #3882f6;
    margin: 100px 200px;
    padding: 40px 90px;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}

.calltoactioncontainer {
    display: flex;
    flex-direction: column;
   
}

.calltoaction {
    margin: 2px;
    color: #f9faf8;
    font-weight: bold;
}

.signup {
    margin: 2px;
    color: #f9faf8;
    font-weight: 300;
}

.signupbutton {
    width: 120px;
    height: 30px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
    font-weight: bolder;
}

